{% extends '::base.html.twig' %}

{% block body %}
	
	<h1>Tratabajdno con Jquery</h1>

	<div class="">
		<h2>Cambiara su texto</h2>
		<button id='button'>
			Cambiar Texto
		</button>
	</div>

{% endblock %}
